@model vidly3.Models.Customer
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<ul>
    <li>@Model.Name</li>
    <li>@Model.Birthdate.ToShortDateString()</li>
</ul>
