@model vidly3.Models.Customer
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<ul>
    <li>@Model.Name</li>
    @if (Model.Birthdate.HasValue)
    {
        <li>@Model.Birthdate.Value.ToShortDateString()</li>
    }
    
</ul>
