@model IEnumerable<vidly3.Models.Customer>

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>No Customers</p>
}
@Html.ActionLink("New Customer", "New","Customers",null, new{@class="btn btn-primary"})
<table><thead>
        <tr><th>Customer</th><th>Membership Type</th></tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr><td>@Html.ActionLink(@customer.Name, "Edit","Customers",new{id = customer.Id},null)</td>
            <td>@customer.MembershipType.Name</td></tr>
        }
    </tbody>
</table>